# Function

* It is the basic building block for any application.
* It is the smallest unit of code reuse.
* typical design of a function is

```python
def function_name(p1,p2 ):
    statement1
    statement2
    statement3
    return result
```

* Here everything other than **def function_name** is optional
    * function may take 0 or more arguments
    * It may have zero or more statements
    * It may or many not return a result

### The samllest (and perhaps a meningless function would be )

* Note for anystatement that requires a child block, we may use "pass" to indicate empty block

In [2]:
def do_nothing():
    pass

In [3]:
type(do_nothing)

function

In [4]:
do_nothing()

### Our function may take argument and return a result

In [5]:
def greet(name):
    return f"Hello {name}, Welcome to Python"

In [6]:
greet("Bosch")

'Hello Bosch, Welcome to Python'

In [7]:
def plus(x,y):
    return x+y

In [8]:
plus(2,3)

5

In [9]:
plus(9,9)

18

#### A function that returns nothing returns None

In [10]:
def greet(name):
    print(f"Hello {name}, Welcome to Python")

In [11]:
# we can call this function to print value

greet("Bosch")

Hello Bosch, Welcome to Python

In [12]:
#But this function doesn't return a result

x = greet('Bosch')

print(x)

Hello Bosch, Welcome to Python
None

### Python doesn't have Function Overloading

* C++/Java/C# allows function overloading
    * We can have more than one function with same name
        * they can differ in 
            * number of parameters
            * or type of parameters.

* Python doesn't support this feature
    * you can write two functions with same name
        * if you do, second will silently overwrite the first.
            * unlike C, there would be error message.


### Standard Python functions have fixed parameters

* When you have a function that takes two parameters, you must supply exactly two arguments
* Trying to pass more or less arguments will cause error.

In [18]:
def call_me(x,y):
    print(x,y)

In [19]:
call_me(1,2)

1 2

In [23]:
call_me(1)

TypeError: call_me() missing 1 required positional argument: 'y'

In [24]:
call_me(1,2,3)

TypeError: call_me() takes 2 positional arguments but 3 were given

#### Positional vs Keyword parameters

* Most langauges support positional parameter syntax.
    * If a functiont take three arguments x,y,z and we pass 3 arguments
        * first argument will be assigned to first parameter
        * second argument will be assigned to second parameter
        * third argument will be assigned to third parameter

* Python calls this concept as positional parameter.
    * arugments identified by their position.

* Python supports an alternative **keyword argument** syntax.
    * In this case we supply the argument by explicitly telling for which parameter this value is given
    * In such a case we can provide arguments in a different order also

In [25]:
def call_me(x,y,z):
    print(f'x={x}\ty={y}\tz={z}')

In [26]:
call_me(1,2,3) # positional syntax. x=1, y=2, z=3

x=1	y=2	z=3

In [27]:
call_me(y=1, z=2, x=3) # keyword syntax. we can pass in any order we like

x=3	y=1	z=2

#### we can also use the hybrid syntax.

* few by position
* few by keyword

##### Important

* when using hybrid positional syntax must preceed keyword arguments

In [28]:
call_me(1, z=20, y=5)  # positional --->x=1 , keywords --> z=5, y=2

x=1	y=5	z=20

In [29]:
call_me(y=1, x=2, 5)

SyntaxError: positional argument follows keyword argument (3158697891.py, line 1)

#### Default Argument for a parameter

* Python allows us to provide some default value for a parameter
* In that case it is ok to not pass that parameter
    * default value will be used, if parameter is not passed

In [30]:
def call_me(x, y=10, z=20):
    print(f'x={x}\ty={y}\tz={z}')

In [31]:
call_me(1,2,3) # default will be ignored as user supplied values

x=1	y=2	z=3

In [32]:
call_me(1,2) # y will have user defined value 2, z will use default 20

x=1	y=2	z=20

In [33]:
call_me(1, z=100) # positional ---> x=1   keyword---> z=100  default --->y=10

x=1	y=10	z=100

In [34]:
call_me(1) # positional ---> x=1 default ---> y=10, z=20

x=1	y=10	z=20

In [35]:
call_me() # x has no default. must be supplied either as positional or keyword

TypeError: call_me() missing 1 required positional argument: 'x'

### Assignment 1.4

1. write a program to find out the week day corresponding to a date
    * example: 
        * week_day(1948,1,30) #Friday
        * week_day(2024,5,20) #Monday

2. write another function to print the calendar of a given month,year
    * print_calendar( 1, 1948)



#### IMPORTANT

1. You can't use any builtin or third party library or googled (and friends) logic


### Logic

1. Take a reference date.
    * Example: Jan 1st, 2001 was a monday.

2. Find the number of days between the reference date and input date


3. Mod it with 7

4. If result is 
    * 0 ---> Monday
    * 1 ---> Tuesday
    * 2 ---> Wednesday



#### Note:

* to find the gap, you may also have to calculate
    * number of days in a month
    * if the year is a leap year

### Best Coding Practices

* Avoid global codes.
    * prefer to define functions to represent everything.
    * functions can be reused.

* Avoid taking **print** and **user input** within a function unless the functions core job requires this.
    * If a function's name is not explictly print or show, don't print.

* Prefer to supply information (input) using function parameter and respond (output) using **return**

### Solution to Assignment 1.4

#### 1. is leap year

* common perception: every 4th year is a leap year.
    * year divisible by 4 is a leap year.
    * but this is an incomplete information.

* full condition
    * every 4th year is a leap year
        * exception every 100th year is not a leap year
            * exception every 400th year is a leap year
                * years 1700, 1800, 1900 were not leap years
                    * year 2000 was a leap year
                        * next century year to be lear year would be 2400

In [20]:
def is_leap_year(year):
    if year%4==0:
        if year%100==0:
            if year%400==0:
                return True
            else:
                return False
        else:
            return True
        
    else:
        return False

### Letus to a quick test

In [21]:
print(is_leap_year(1900)) #False
print(is_leap_year(2000)) #True
print(is_leap_year(1980)) #True
print(is_leap_year(1990)) #False

False
True
True
False

#### is_leap() version #2

In [22]:
def is_leap_year(year):
    if  year%400==0 or (year%4==0 and year%100!=0):
        return True
    else:
        return False

In [16]:
print(is_leap_year(1900)) #False
print(is_leap_year(2000)) #True
print(is_leap_year(1980)) #True
print(is_leap_year(1990)) #False

False
True
True
False

### Find days in a month

* for most months, passing month parameter is sufficient
* But for Feb, I have to pass both month and year to decide.
* For most cases year is not needed.
    * we can give it any default value

In [36]:
def days_in_month(month,year=1987):
    
    if month==2:
        if is_leap_year(year):
            return 29
        else:
            return 28
    elif (month<8 and month%2!=0) or (month>=8 and month%2==0):
        return 31
    else:
        return 30

### Test if it is working for all cases

In [37]:
### for all months in a non leap year

for month in range(1,13): #1-12
    print(f'month {month} has {days_in_month(month)} days')


# check for a leap year feb

print(f'Feb 2024 has {days_in_month(2,2024)} days')

month 1 has 31 days
month 2 has 28 days
month 3 has 31 days
month 4 has 30 days
month 5 has 31 days
month 6 has 30 days
month 7 has 31 days
month 8 has 31 days
month 9 has 30 days
month 10 has 31 days
month 11 has 30 days
month 12 has 31 days
Feb 2024 has 29 days

#### find days between dates

* Find out how many days exist between two dates

In [40]:
def find_gap(y1,m1,d1, y2,m2,d2):
    gap=0
    while not( y1==y2 and m1==m2 and d1==d2):
        gap+=1
        d1+=1
        if d1>days_in_month(m1,y1):
            d1=1
            m1+=1
            if m1>12:
                m1=1
                y1+=1

    return gap

### Let us test it

In [44]:
print( find_gap(2000,1,1, 2001,1,1))
print( find_gap(2001,1,1, 2002,1,1))
print( find_gap(2001,1,1, 2001,4,1))
print(find_gap(1900,1,1,1900,4,1))
print(find_gap(2000,1,1,2000,4,1))

366
365
90
90
91

#### find the week day for a given date.

* Here we will take on one date and find the gap with our reference data
* we will do the mod and find the month.

In [45]:
def week_day_number(yy,mm,dd):

    ref_yy, ref_mm, ref_dd = 2001 , 1 ,1  # 3 values are positionally assigned to three references.

    gap = find_gap(ref_yy,ref_mm,ref_dd,yy,mm,dd)

    return gap%7 # week_day_number


def week_day_name(yy,mm,dd):
    w = week_day_number(yy,mm,dd)
    if w==0:
        return "Monday"
    elif w==1:
        return "Tuesday"
    elif w==2:
        return "Wednesday"
    elif w==3:
        return "Thursday"
    elif w==4:
        return "Friday"
    elif w==5:
        return "Saturday"
    elif w==6:
        return "Sunday"

### Let us test

In [47]:
print(week_day_name(2001,1,1))
print(week_day_name(2024,5,21))

Monday
Tuesday

### But will it work for a past date?

In [48]:
print(week_day_name(1948,1,30)) #Friday

KeyboardInterrupt:

### Problem

* we have started from ref date towards input date
* if input date is in past it will become endless date.

### Solution

#### Option A
* check which date is bigger
    * check year
        * if year same, check month
            * if month is same check day

* move from smaller to bigger date


### Option B

* Let us introduce a base date in the extreme past: 1/1/0000

* Always find a gap date from this base date.

* Follow the following graph

<pre>

1/1/0000(base date)
  |
  |                          dy=(31/12/yyyy-1) -->days till 1/1/yyyyy 
  |-----------------------------dy-------dm------| (dd/mm/yyyy)
  |                                
  |                                 dm=( xx/mm-1/yyy) --> days till 1/mm/yyyy
  |                                * xx is the last day of previous month

</pre>

* Now the total gap will be  x+y+dd where
    * x--> days before the begining of this year
    * y--> days before the begining of this month
    * dd --> days in this month


### date_value
* by finding the gap from a base date we are assigning a single number to every date

* it is faster as we don't loop for all years rather apply some basic maths

* We don't expect dates to fall beyond that point.

In [69]:
def date_value(yy,mm,dd):
    # find how many days passed till begining of current year yy
    py=yy-1

    dy= py*365 #approximately 365 days per year
    dy+= py//4 # every 4th year is a leap year. not // is int division
    dy-= py//100 # but every 100th year is not a leap year
    dy+= py//400 # but every 400th year is a leap year

    dm=0
    for m in range(1,mm): #excluding mm
        dm+=days_in_month(m,yy)

    return dy+dm+dd

### Now find the week day number

* We will again take ref date (not base date)
    * It could be anything 1/1/2006

* Now we follow following graph:

<pre>
 |
 |
 |-----------------------------------|------------------| future_date (value)
 |
 |-----------------|-----------------| ref_date (value)
 |
 |
 |-----------------| past_date (value)
 |
</pre>


* since each date has a value, we can easily find the gap by substracting them

In [70]:
def week_day_number(yy,mm,dd):
    ref_date_value = date_value(2001,1,1)
    value=date_value(yy,mm,dd)

    return (value-ref_date_value)%7

In [71]:
print( week_day_name(2024,5,21))
print( week_day_name(1948,1,30))
print( week_day_name(2001,1,1))

Tuesday
Friday
Monday