# Mutable and Immutable Types

* A python object may be
    * mutable ---> can be modified after creation
    * immutable a.k.a readonly --> can't be modified after it's creation


* There are many common data types that are surprisingly immutable (they are often immutable in C style languages)
    * int
    * float
    * str

* You can't modify an immutable value

### Does that mean I can't modify an int?

In [1]:
x=20
print(x)
x+=1
print(x)

20
21

### Have we not modified x from 20 to 21?

* NO
* we didn't modify 20 to 21. 
    * 20 always remains 20
* x was earlier refering to object 20
    * x now refers to another  object 21
    * object 20 never changes itself.


#### How do we known int is not modified?

### id()
* python provides and **id()** 
* it can tell us the id of any given object
* A reference doesn't have an id
    * it reflects the id of the object it refers

In [2]:
x=20
print(id(20), id(x))

140737345567768 140737345567768

In [3]:
x+=1

print(id(20), id(21), id(x))

140737345567768 140737345567800 140737345567800

#### If the object is immutable it may be modified in it's original place and id will not change



# Python Sequences
* A sequence in simplest term is a series of data that can be accessed one by one 
* They can either be
    *  stored 
        * also known as collection
    * computed
        * eg: 
            * fiboncii series,
            * random number series
            * range()

* Python defines several important sequences like:
    * stored
        * list
        * tuple
        * set
        * dict
        * str (yes! string is also a sequence of characters)
    * computed
        * range

#### common operations in seqeunces

A sequence generally support few common operations

* for loop access
* len() ... returns len of sequece
* in ... checks if a value exists in a sequence


* Different sequences may have different set of available options.


## Some common Sequences

* list --->  a dynamic, linear, indexed , mutable sequence
* tuple -->  a immutable, linear, indexed sequence
* set ---->  a dynamic, mutable, non-linear (non-indexe) sequence of unique values
* dict --->  a dynamic mutable, non-linear sequence of key-value pair indexed with unique key



### Let us write a test_sequence function to test common feaures of a sequence

In [8]:
def test_sequence(seq, prompt=''):

    print(f'{prompt}\n{type(seq).__name__} [id={id(seq)}] [Length={len(seq)}] :',end=" ")
    for value in seq:
        print(value, end=" ")
    print()

## 1. list

* list is a
    * mutable (that can be modified.)
    * linear
    * indexed
        * can be accessed/modified using indexer []
    * supports
        * in
        * for
        * len
        * indexer
            * read
            * write
            * negative
            * range

    * also supports
        * append new item
        * remove existing item

* It can be comapared to an array of other languages
    * unlike array of c-style langauges list is dynamic and expandable.


### How to create a list?
     
* A list can be created by wrapping a set of values in square bracket

In [9]:
numbers=[2,3,9,2,6] # list

In [10]:
test_sequence(numbers)

list [id=2831864227008] [Length=5] : 2 3 9 2 6

#### A list is immutable
* It can be modified by
1. appending new items
2. modifying existing items
3. removing exisiting items

In [11]:
# append enw values
numbers.append(10)
numbers.append(4)
test_sequence(numbers)

list [id=2831864227008] [Length=7] : 2 3 9 2 6 10 4

In [12]:
#### remove items
numbers.remove(9) #removes number 9
test_sequence(numbers)

list [id=2831864227008] [Length=6] : 2 3 2 6 10 4

In [13]:
### removing by position
del numbers[3] #remove value from index 3 --->6
test_sequence(numbers)

list [id=2831864227008] [Length=5] : 2 3 2 10 4

In [14]:
### modify a list using indexer

numbers[0]=100
test_sequence(numbers)

list [id=2831864227008] [Length=5] : 100 3 2 10 4

#### list also supports negative indexer

* -1 ---> last item
* -2  ---> second last item

In [15]:
numbers=[2,3,9,2,6]

print(numbers[-1]) #6
print(numbers[-2]) #2

6
2

### list throws error for invalid index

In [16]:
numbers[100]

IndexError: list index out of range

#### Slicer

* A slicer is a syntax that helps us extract a portion of some sequence as a new sequence
* It can have three part
    * start
    * end (exclusive)
    * gap

* these parts are wrapped in square bracket separated by colon

In [17]:
numbers=[0,10,20,30,40,50,60,70,80,90,100,110,120,130,140,150,160,170,180,190,200]

In [18]:
numbers[4:17:2] #starting index 4 take every second item till (excluding) index 17

[40, 60, 80, 100, 120, 140, 160]

In [20]:
test_sequence(numbers) #original sequence
test_sequence( numbers[2:11]) #take all items from index 2 to index 10 (excluding index 11)

list [id=2831869976768] [Length=21] : 0 10 20 30 40 50 60 70 80 90 100 110 120 130 140 150 160 170 180 190 200

list [id=2831870292864] [Length=9] : 20 30 40 50 60 70 80 90 100

In [21]:
test_sequence( numbers[2::]) # tak all items starting 2 till the last item (inclusive) length-1

list [id=2831870280768] [Length=19] : 20 30 40 50 60 70 80 90 100 110 120 130 140 150 160 170 180 190 200

In [22]:
test_sequence(numbers[:7:]) # take all items starting from 0 uptil exlcuding 7

list [id=2831870280768] [Length=7] : 0 10 20 30 40 50 60

In [23]:
test_sequence(numbers[::]) # take all items. duplicate

list [id=2831870289472] [Length=21] : 0 10 20 30 40 50 60 70 80 90 100 110 120 130 140 150 160 170 180 190 200

In [24]:
test_sequence(numbers[::-1]) #reverse the list

list [id=2831870270272] [Length=21] : 200 190 180 170 160 150 140 130 120 110 100 90 80 70 60 50 40 30 20 10 0

### Predict the output


* how many items will be there is lis2 after append call

In [25]:
list1 = [1,2,3,4,5]
list2 = [6,7,8,9,10]

list1.append(list2)

print(len(list1))

6

#### What happended?

* In python, everything is an object
    * even list

* there is nothing like "list of int" or "list of string"
    * we have list of object
    * we can add any object to a list
        * including another list

In [26]:
test_sequence(list1)

list [id=2831870018816] [Length=6] : 1 2 3 4 5 [6, 7, 8, 9, 10]

In [27]:
list1[5]

[6, 7, 8, 9, 10]

#### How to access number 9?

In [29]:
list1[5][3]

9

#### What if I want to add the items from one list (sequence) to another list

* list has another functionc all **extend**

In [30]:
list1=[1,2,3,4,5]
list2=[6,7,8,9,10]

list1.extend(list2)

test_sequence(list1)

list [id=2831870272896] [Length=10] : 1 2 3 4 5 6 7 8 9 10

#### more sequence functions

In [43]:
numbers=[2,3,9,2,6]

#### in function

In [44]:
print( 2 in numbers) #True
print( 8 in numbers) #False

True
False

##### count()
* counts the occurance of a value in a sequence

In [45]:
numbers=[2,3,9,2,6]
print(numbers.count(2)) #2

print(numbers.count(8)) #0

print(numbers.count(9)) #1

2
0
1

### 2. tuple

* is like a readonly immutable list
* it supports indexer
    * to get item
    * negative indexer
    * slicer
    * in
    * count
    * for

* it doesn't support
    * indexer to modify value
    * appent/del/remove

#### How to create a tuple?

##### Option #1
* we wrap comma separated values in parentheses

In [31]:
t = (1,2,3,4,5)

test_sequence(t)

tuple [id=2831870164112] [Length=5] : 1 2 3 4 5

In [32]:
t[2]

3

In [33]:
t[-1]

5

In [34]:
t[2:4]

(3, 4)

In [35]:
t[::-1]

(5, 4, 3, 2, 1)

In [36]:
t[0]=100

TypeError: 'tuple' object does not support item assignment

In [37]:
t.append(10)

AttributeError: 'tuple' object has no attribute 'append'

In [38]:
del t[2]

TypeError: 'tuple' object doesn't support item deletion

#### Why do we use tuple?

* generally we may not use much of our own tuple in the code
* it is used for optimizing the storage of constants that will not change
* python uses it at several places internally


#### How to create a tuple of 1 Item?

* we can create a tuple of 1 item by wrapping it in parenthes
    * this sytnax is used for arithmetic expression

In [39]:
t1=(20) # not a tuple. Why?

print(type(t1))

<class 'int'>

##### to create a tuple of 1 item we must provide leading comma

In [40]:
t1=(20)
t2=(20,) # tuple
print(type(t1),type(t2))

<class 'int'> <class 'tuple'>

#### How to create a tuple of 0 item

* we call tuple() function

In [42]:
t3=tuple()

test_sequence(t3)

tuple [id=140737345640120] [Length=0] :

### 3. set

* set is a 
    * mutable
    * non-linear, non-indexable
    * sequence of unique values

* it supports
    * in
    * for
    * len

* doesn't support
    * any indexer


* also supports
    * add
    * remove

* set theory operations
    * union ---> get all unqiue values from 2 sets
    * intersection ---> get all vaues which are present in both sets
    * difference ---> get values from set1 that is not present in set2
    * issubset ----> check if all value of set1 is part of set2
    * isdisjoint ---> check if there is no common value between the sets


* set doesn't gurantee the order in storage.



#### How do we create a set?

* we wrap a comma seaprated values in braces {}

#

In [46]:
s1={2,3,9,2,6}

#how many items are present in this set?


test_sequence(s1)

set [id=2831864425920] [Length=4] : 9 2 3 6

In [47]:
s1[0]=10

TypeError: 'set' object does not support item assignment

In [48]:
print(s1[1])

TypeError: 'set' object is not subscriptable

In [49]:
s1.add(10)
s1.add(5)
s1.add(9) #duplicate ignored

test_sequence(s1)

set [id=2831864425920] [Length=6] : 2 3 5 6 9 10

In [50]:
print(5 in s1) #True
print(7 in s1) #False

True
False

In [51]:
s1.count(9)

AttributeError: 'set' object has no attribute 'count'

#### set theory operations

In [53]:
U = {1,2,3,4,5,6,7,8,9,10}
evens = {0,2,4,6,8,10}
odds={1,3,5,7,9}
f5={5,10}

In [55]:
evens.union(odds) # take all values from both evens and odds

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [56]:
evens.intersection(odds) #values common in both: Nothing

set()

In [57]:
evens.intersection(f5) # {10}

{10}

In [58]:
evens.issubset(U) # False. evens has a 0 not present in U

False

In [59]:
odds.issubset(U) #True. all items of odds is present in U

True

In [60]:
evens.isdisjoint(odds) #True. no common items

True

In [62]:
evens.isdisjoint(f5) #False. 10 is common

False

In [63]:
f5.difference(odds) # {10}  items present in f5 but missing in odds

{10}